<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    body {background-color: powderblue;}
    h1   {color: blue;}
    p    {color: red;}
    h1 {
    color: blue;
    font-family: verdana;
    font-size: 300%;
    }
    </style>
    
</head>
<body>
        {% from "formhelper.html" import render_field %}
        <form method=post>
          <dl>
            {{ render_field(form.itemname) }}
            {{ render_field(form.price) }}
            {{ render_field(form.currency) }}
          </dl>
          <p><input type=submit value=Add>
        </form>
    
</body>
</html>